<h2>To scrape the most recent articles from the New York Times, go to the following link</h2>

<a href="/articles/create">NYT scraper</a>

<h2>Saved articles</h2>

<a href="/articles/save">Click here to see the articles you have saved</a>

<h1>Articles scraped from the New York Times</h1>

<ol>
    {{#each articles}}

    <li>
        {{this.title}}
    </li>
    <p>
        {{this.summary}}
    </p>
    <a href="https://www.nytimes.com{{this.href}}">
        https://www.nytimes.com{{this.href}}
    </a>
    <br><br>
    <a href="/articles/save/{{this._id}}">
        Save this article
    </a>
    {{/each}}
</ol>
