<h1>Articles</h1>

<ol>
    {{#each articles}}
    <li>
        {{this.title}}
    </li>
    <p>
        {{this.summary}}
    </p>
    <a href="https://www.nytimes.com{{this.href}}">
        https://www.nytimes.com{{this.href}}
    </a>
    <br><br>
    <a href="/articles/save/{{this._id}}">
        Save this article
    </a>
    {{/each}}
</ol>
